<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>余额宝</string>
		<key>icon</key>
		<string>yeb.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>人人贷</string>
		<key>icon</key>
		<string>rrd.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>爱投资</string>
		<key>icon</key>
		<string>itz.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>积木盒子</string>
		<key>icon</key>
		<string>jmhz.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>拍拍贷</string>
		<key>icon</key>
		<string>ppd.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>人人聚财</string>
		<key>icon</key>
		<string>rrjc.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>微贷网</string>
		<key>icon</key>
		<string>wdw.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>温州贷</string>
		<key>icon</key>
		<string>wzd.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>一起好</string>
		<key>icon</key>
		<string>yqh.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宜人贷</string>
		<key>icon</key>
		<string>yrd.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>红岭创投</string>
		<key>icon</key>
		<string>hlct.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陆金所</string>
		<key>icon</key>
		<string>ljs.jpg</string>
	</dict>
</array>
</plist>
